/*footer container components*/

.footer-container{
    border-top-left-radius: 3.75rem;
    border-top-right-radius: 3.75rem;
    background: var(--color-primary);
    width: 100%;
    display: grid;
    margin: 2rem 0 0;
    margin-bottom: -1rem;
  }
  
  .footer-content{
    display: grid;
    width: 80vw;
    margin: 2rem auto;
    margin-left: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
  }
  
  .footer-links{
    margin-left: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
  
  .nav-bottom-list{
    padding: 0;
    list-style-type: none;
  }