/*div's components*/

.content{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 8rem;
}

.dish{
    width: 15.500rem;
    height: 13.619rem;
    border-radius: 2.188rem;
    text-align: center;
}

.grid-item {
    display: grid;
    background-color: var(--color-extra-4);
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2.188rem;
    width: 15.563rem;
    height: 20.561rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 100px;
    column-gap: 0px;
}

.separator{
    padding: 20px;
    background-color: var(--color-extra-2);
    color: var(--color-extra-3);
    border-top-right-radius: 2.188rem;
    border-bottom-right-radius: 2.188rem;
    margin-top: 8rem;
    width: 50%;
    font-size: var(--tamano-l);
    font-weight: var(--fw-bk);
  }


/*details page*/

.grid-dcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 20px;
}

.dish-detail{
    display: grid;
    background-color: var(--color-primary);
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    width: 36.8rem;
    height: 29rem;
  }
