.content{
    margin: 8rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4vw;
    width: 60%;
}

.dish{
    width: 15.5rem;
    height: 13.6rem;
    border-radius: 2.2rem;
    text-align: center;
}

.grid-item {
    display: grid;
    background-color: var(--color-extra-4);
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2.2rem;
    width: 15.5rem;
    height: 20.5rem;
}

.grid-container {
    margin-left: 10rem;
    margin-right: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 100px;
    column-gap: 0px;
}

.separator{
	text-align: center;
    padding: 20px;
    background-color: var(--color-extra-2);
    color: var(--color-extra-3);
    border-top-right-radius: 2.2rem;
    border-bottom-right-radius: 2.2rem;
    margin-top: 8rem;
    width: 60%;
    font-size: clamp(var(--tamano-m), 2.5vw, var(--tamano-l));
    font-weight: var(--fw-bk);
}


/*details page*/

.grid-dcontainer{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 5%;
	padding-right: 5%;
	padding-top:1%;
    gap: 5%;
	margin-left: auto;
	margin-right: auto;
	bottom: 0%;
}

.dish-detail{
    background-color: var(--color-primary);
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    width: 36.8rem;
    height: 29rem;
}

.detail-text{
	display: grid;
	/*width: 20%;*/
}

.about-title{
	position: relative;
}
.cart-icon-container{
    display: flex;
    left: 80%;
}

.text-card-container{
    width: 100%;
    height: 4rem;
}
