.hero-container {
    background: var(--color-primary);
    border-bottom-left-radius: 3.75rem;
    border-bottom-right-radius: 3.75rem;
    color: var(--color-background);
    height: min(45rem, 50rem, 55rem);
    width: 100%;
}
.top-container{
    display: flex;
    height: 100%;
    width: 100%;
}
.header-skull-container{
    height: 100%;
    width: 50%;
}

.rest-icon {
    height: 100%;
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-text {
    color: var(--color-text);
    font-size: var(--tamano-m);
    margin: 0;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.hero-title-container{
    padding-top: 2rem;
    padding-left: 7vw;
}

.hero-title {
    font-size: clamp(var(--tamano-l), 5vw, var(--tamano-xl));
    font-family: var(--fuente-titulo);
    color: var(--color-text);
    margin: 0;
}

.hero-description {
    font-size: clamp(.2rem, 1vw, var(--tamano-regular));
    font-family: var(--fuente-principal);
    color: var(--color-description);
    list-style: none;
}

.hero-description-container {
    padding-left: 11vw;
    margin: 0;
}
.header-flower-container {
    bottom: 0;
    height: 35vw; /* Establece la altura en 35% del ancho de la ventana gráfica */
    width: 45vw; /* Establece el ancho en 45% del ancho de la ventana gráfica */
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw 6vw; /* Establece el margen izquierdo y derecho en "auto" */
    padding: .6rem 1rem;
    background-color: #f2f2f2;
    border-radius: 5rem;
    width: 50%; /* Establece el ancho en el 50% del contenedor principal */
   
    border: none;
}
