/*text components*/
.banner-title{
    color: var(--color-background);
    font-family: var(--fuente-titulo);
    font-size: var(--tamano-l);
    left: 50%;
    position: absolute;
    text-align: center;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

.nav-text{
    color: var(--color-background);
    font-size: var(--tamano-m);
}

.hero-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icono-mini{
    width: 50%;
    display: block;
    margin: auto;
}
  

