/*text components*/
.banner-title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-family: var(--fuente-titulo);
  font-size: var(--tamano-xl);
  font-weight: var(--fw-bk);
  color: var(--color-extra-4);
}

.nav-text{
  color: var(--color-background);
  font-size: var(--tamano-m);
}

.text-card{
  position: relative;
  text-align: left;
  color: var(--color-extra-5);
  font-family: var(--fuente-principal);
  font-size: var(--tamano-mm);
  font-weight: var(--fw-bk);
  bottom: 30%;
}



.nav-text{
    color: var(--color-background);
    font-size: var(--tamano-m);
}

.hero-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dish-title {
  font-size: var(--tamano-m);
  font-family: var(--fuente-principal);
  margin: 1rem 0 0;
}

.about-title{
  position: absolute;
  top: 3rem;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 40%;
  font-family: var(--fuente-titulo);
  font-size: var(--tamano-xl);
  font-weight: var(--fw-bk);
  color: var(--color-primary);
}

.detail-text{
  text-align: justify;
  font-family: var(--fuente-principal);
  color: var(--color-extra-5);
  font-size: var(--tamano-regular);
  width: 36.8rem;
  height: 41.2rem;
  margin: 22rem;
}


  

